@charset "utf-8";


*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
/* normalize 사용 - 초기화 */
body{
}

#header{
    background-color: lightgray;
    border-bottom: 1px solid gray;
}
#header::after{
    display: block;
    clear: both;
    content: '';
}

h1#main-title{
    float: left;
/*    width: 200px;*/
}

#nav{
    float: right;
}
#nav ul::after{
    display: block;
    content:'';
    clear:both;
}
#nav ul>li{
    float: left;
    margin-right: 4px;
}

#main{}

#main #container{}
#main #container #board-list{}



