@charset "UTF-8";

    @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Pacifico|Roboto:300&display=swap' rel='stylesheet');
    
    /* 
    홈페이지 처음 접속했을 때의 css입니다.
 	*/
    
    
    
    *{margin:0; padding: 0;}
    body {
        min-width: 900px; 
    }
    
    .logo{
        width: 350px;
        padding: 0 10px;
        margin: 0 auto;
        margin-top: 50px;
        font-family: 'Pacifico', cursive; font-size: 3.5em;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: inherit; 
        width: inherit;
    }

    .img_headLogo {
        height: 70px;
        
        border-bottom: 5px solid #FCEE76;
        display: block;
    }
    
 
    /*---- 대문이미지 ----*/
    .main_img {
        margin: 30px 0;
        float: left;
        min-width: 900px;
        margin: 0 auto;
    }
    
    .main_img img{
        width: 800px;
        display: block;
        transition: 0.5 ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
    }
    
    .main_img:hover img{
        opacity: 0.8;
    }
    
    .main_img:hover .middle {
        opacity: 0.75;
    }
    
    .middle {
        width: 800px;
        background-color: #eee;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    }
    
    .text{
        font-family: 'Pacifico', cursive;
        font-size: 2em;
    }
    
        /*네비게이션 바 (상단, 하단)*/
    .nav, #right{
        padding: 5px;
        height: 30px;
        margin: 15px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .nav ul{
        overflow: hidden;
        margin: 0 auto;
        font-size: 0.75em;
    }
    
    .nav li{
        list-style: none;
        float: left;
        padding: 0 5px;
        line-height: 30px;
        width: 50px;
        margin: 0 auto;
    }
    
      .nav span{
        list-style: none;
        float: left;
        padding: 0 5px;
        line-height: 30px;
        width: 50px;
        margin: 0 auto;
    }
    
    .nav a:hover{
        background-color: #FAF19E;
        display: block;
    }
    
    /*푸터*/
    #footer{
        position: fixed;
        bottom: 0px;
    }
    
    #footer>div {
        float: left;
    }
    
    #right{
        position: fixed;
        right: 30px;
        font-size: 0.75em;
        line-height: 30px;
    }