@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Pacifico|Roboto:300&display=swap' rel="stylesheet");
    
    /* 
    font-family: 'Pacifico', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Nanum Gothic', sans-serif;
 	*/
    
    
    
    *{margin:0; padding: 0;}
    
    body {
        min-width: 900px; 
        font-size: 0.9em;
        font-family: 'Nanum Gothic', sans-serif;
    }
    
    
    /*form*/
    .wrap {
        width: 300px;
        margin: 10px auto;
	}
    
    .wrap h4{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    #regForm {
        width: inherit;
        padding: 10px;
    }
    
    .inputbox {
        width: 100%;
        display: block;
        border: 1px solid #ccc;
        height: 42px;
        padding: 5px;
        box-sizing: border-box;
    }
    
    .input {
        width: 100%;
        height: 30px;
        float: left;
        display: block;
        box-sizing: border-box;
        border: 0;
    }
    
    .birth {
        width: 89.9px;
        vertical-align: middle;
        display: inline-block;
    }
    
    #regForm>input[type=submit] {
        width: 100%;
        margin: 30px auto;
        height: 42px;
        box-sizing: border-box;
        background-color: #FAF19E;
        border: 0px;
        border-radius: 3px;
    }                                                                                               
    